

.navbar {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar-brand {
    font-weight: bold;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: static;
      float: none;
    }
  }